<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>logut page </title>
<style>
     body { 
      font-family: 'Poppins', sans-serif; margin:0; 
      background:#eef2ff; 
      color:#111827; 
    }
    .header{
        margin-top: 20px;
        
    }
    .logut-msg{
        margin: auto;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: medium;
        text-align: center;

        
    }
    

</style>
</head>
<body>
    <header>
        <a href="#">go it</a>
        <a href="#">login</a>
        <a href="#">registar</a>
        <a href="#">home</a>
        <a href="#">ok no thanks</a>
       
    </header>
    <div class="logut-msg">
        you are logout, are you again <a href="../login.html">login</a> on ADM clsses 
    </div>
</body>
</html>